<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4azce5hVZx9kt7kyQFIfTupDRICym4V8</string>
	<key>GCM_SENDER_ID</key>
	<string>530128330953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mertmazici.RunDom.staging</string>
	<key>PROJECT_ID</key>
	<string>runpire-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>runpire-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530128330953:ios:6e083c6e7d59222a00ad18</string>
	<key>DATABASE_URL</key>
	<string>https://runpire-staging-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>